<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652403237117-kl8iq8ph9ifdnu7a6benovtgrra51595.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652403237117-kl8iq8ph9ifdnu7a6benovtgrra51595</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652403237117-bf34gevb5usdra5q06irt2a29s5ssfqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPoh9U44rKX5ZtjyB7IMt5J-qtvrwggr4</string>
	<key>GCM_SENDER_ID</key>
	<string>652403237117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluom-s-store</string>
	<key>STORAGE_BUCKET</key>
	<string>fluom-s-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652403237117:ios:0c171fd77324f5b0ef9e94</string>
</dict>
</plist>